.Footer{
    margin-left: 24px;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    width: 1055px;
    height: 17px;
}

.footer-items{
    font-weight: 400;
    font-size: 14px;
    color: #636363;
    display: flex;
}

.footer-items-left{
    margin-right: 32px;
    cursor: pointer;
}